@import "tailwindcss";

.bg-img {
    overflow: hidden;    background-image: url("/home-bg.jpg");
    max-height: 100vh;
}

@keyframes slide-anim-1-sm {
    0% {
        opacity: 0;
        transform: translateX(-100%);
        
    }
    10% {
        opacity: 30%;
    }
    20% {
        opacity: 50%;
    }
    30% {
        opacity: 70%;
    }
    40% {
        opacity: 100%;
    }
    60% {
        opacity: 80%;
    }
    80% {
        opacity: 40%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes slide-anim-1-md {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    10% {
        opacity: 30%;
    }
    20% {
        opacity: 50%;
    }
    30% {
        opacity: 70%;
    }
    40% {
        opacity: 100%;
    }
    60% {
        opacity: 80%;
    }
    80% {
        opacity: 40%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes slide-anim-2-sm {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    10% {
        opacity: 30%;
    }
    20% {
        opacity: 50%;
    }
    30% {
        opacity: 70%;
    }
    40% {
        opacity: 100%;
    }
    60% {
        opacity: 80%;
    }
    80% {
        opacity: 40%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes slide-anim-2-md {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    10% {
        opacity: 30%;
    }
    20% {
        opacity: 50%;
    }
    30% {
        opacity: 70%;
    }
    40% {
        opacity: 100%;
    }
    60% {
        opacity: 80%;
    }
    80% {
        opacity: 40%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.head-1 {
    animation: slide-anim-1-sm 7s linear infinite;
}
.head-2 {
    animation: slide-anim-2-sm 7s linear infinite;
}

@media (min-width: 768px) {
    .head-1 {
        animation: slide-anim-1-md 7s linear infinite;
    }
    .head-2 {
        animation: slide-anim-2-md 7s linear infinite;
    }
}

/* Font size adjustments */
.customfont {
    font-size: 150px;
}

@media (min-width: 768px) {
    .customfont {
        font-size: 200px;
    }
}
